*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#hider{
    cursor: pointer;
    padding: 8px 12px;
}

.text{
    padding: 10px 20vw;
    text-align: center;
    line-height: 25px;
}

.btn{
    padding: 8px 10px;
    cursor: pointer;
}

.input{
    width: 350px;
    height: 30px;
    margin-bottom: 15px;
}

.instructions{
    margin-bottom: 10px;
    text-align: center;
}