*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    min-height: 100vh;
    padding: 10vh 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#hider{
    cursor: pointer;
    padding: 8px 12px;
}

.text{
    padding: 10px 20vw;
    text-align: center;
    line-height: 25px;
}

.btn{
    padding: 8px 10px;
    cursor: pointer;
}

.input{
    width: 350px;
    height: 30px;
    margin-bottom: 15px;
}

.instructions{
    margin-bottom: 10px;
    text-align: center;
}

/* ************************************ */

.data-div{
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    width: 350px;
    height: 320px;
}

.title{
    margin: 10px 0;
    font-size: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-div span{
    font-size: 14px;
    padding-left: 20px;
}
